

:root {

--DarkBlue: hsl(233, 26%, 24%) ;
--LimeGreen: hsl(136, 65%, 51%) ;
--BrightCyan: hsl(192, 70%, 51%);

--GrayishBlue: hsl(233, 8%, 62%) ;
--LightGrayishBlue: hsl(220, 16%, 96%);
--VeryLightGray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);

--primaryFont:'Hanken Grotesk', sans-serif ;
--secondaryFont:'Public Sans', sans-serif ;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 ,h2 , h3 {
    color: var(--DarkBlue);
}

span , p {
    font-family: var(--secondaryFont);
    color: var(--GrayishBlue);
    margin-top: 10px ;
    font-weight: 200;
}

body {
    max-width: 70%;
    min-width: 375px;
    height: 100vh;
    margin: 0px auto;
    font-family: var(--primaryFont);
    overflow-x: hidden;
    text-align: center;
    font-size: 18px;
    line-height: 2;
    background-color: var(--VeryLightGray);
    position: relative;
    
}

.top-nav{
    /* display: flex;
    align-items: center; */
    margin: 10px ;
    min-height: 5vh;
    padding: 10px 20px;
    background-color: var(--White);
    position: relative;
}

.logo {
    position: absolute;
    left: 10px;
    top:10px;
    margin-top: 10px;
}

.hamburger {
    position: absolute;
    right: 20px;
    margin-top: 10px;

}

.close{
    width: 50px;
}

.linkswrapper {
    display: none;
}

.top-btn {
    display: none;
}
.wrapper {
    background-color: var(--White);
    
}
.mockups-image {
    
    position: relative;
    background-image: url(images/bg-intro-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    min-height: 17.5rem;
    overflow: hidden;
    min-width: 375px;
}


.mockups-image::before {
    position: absolute;
    content: "";
    background-image: url(images/image-mockups.png);
    width:100%;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    left: 0;
}


.mockups-text h1 {
    font-weight: 100;
    margin: 20px 10px;
    font-size: 2.5em;
    line-height: 1;
}
.mg-80{
    margin-bottom: 80px;
}
.btn {
    margin-top:30px ;
    padding: 10px 40px;
    background-image: linear-gradient(to right , 
    var(--LimeGreen) , var(--BrightCyan));
    border: none;
    border-radius: 45px ;
    color: var(--White);
    font-size:18px ;   
}

.section-2 {
     background-color: var(--VeryLightGray);
     padding-top: 40px;
     padding-bottom: 40px;
     
}

.section2-heading h2{
    font-weight: 400;
}

.section2-items {
    margin: 30px 0px ;
}

.section2-items h3 {
    font-weight: 200;
}




.section-3 {
    text-align:left;
    min-width: 300px;
   
}

.section-3-items {
    background-color: var(--White);
    margin: 40px 0px;
    border-radius: 10px;
    
}

.section-3 h2 {
    margin-left:20px ;
    font-weight: 400;
}
.section-3-items img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    
  
    
}

.section-3-items a{
    text-decoration: none;
    color: var(--GrayishBlue);
}

.section-3-items h3 {
    font-size: 1.3em;
    font-weight:300 ;
}



.section-3-items a {
    display: block;
    
}


.section-3-items a, h3 , p {
    width: 90%;
    margin: 10px auto;
    padding: 20px 10px;
}

.section-3 {
    margin-bottom: 50px;
}




footer {
    background-color: var(--DarkBlue);
    padding: 30px 60px;
}

.socialmedia-icons {
    display: block;
    margin: 10px 5px;
}

.icons {
    margin: 20px 5px;
}
.links-col1 a {
    
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--White);
}
.links-col2 a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--White);
} 


   

footer span {
    display: block;
}


.menu .menu-container li {
    list-style: none;
}

.menu-container li a {
    text-decoration: none;
    color: var(--GrayishBlue);
}

.menu {
    position: absolute;
    margin: 20px auto;
    background-color: var(--White);
    overflow: visible;
    min-width: 80%;
    top:-100vh;
    left: 40px;
    z-index: 1;
    border-radius: 20px;
    padding: 30px;
    transition: top 1;
    
}

.menu-container li a:hover {
    color: var(--LimeGreen);
}

@media(min-width:600px) {

    .menu {
        display: none;
    }

    body {
       min-width: 100%;
       background-color: var(--White);
       position: relative;
    }

    .section-1 {
        max-width: 80%;
        margin: 0 auto;
        background-color: var(--White);
    }

   

    .mockups-image {
        grid-area: mockupimage;
    }

    .mockups-text {
        grid-area: mockuptext;
        margin: 30px 40px;
        margin-left: 0;
        text-align: left;
        
    }

    .mockups-image {
        background-image: url(images/bg-intro-desktop.svg);
        overflow-y: visible;
    }

    .mockups-image::before {
        position: absolute;
        min-width: 100%;
        top: 0;
        background-size: cover;
    }

    .mockups-text p {
        margin-left: 0;
    }

    .top-btn {
        display: block;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        grid-template-areas: " mockuptext  mockupimage";
    }

    .logo {
        position: relative;
        margin-top:0px ;
        margin-bottom: 10px;
        
    }

    .top-nav {
        display:flex;
        justify-content: space-between;
        align-items: center;
        max-width: 80%;
        margin: 0 auto;
       
    }

    .hamburger {
        display: none;
        
    }

    .linkswrapper {
        display: block;
        display: flex;
        

    }

    .ul-container {
        display: flex;
        justify-content: space-between;
        list-style: none;
        min-width: 100%;
        
    }

    .linkItems a {
        color: var(--GrayishBlue);
        text-decoration:none;
        margin: 0 20px;
        position: relative;
        padding: 0 10px;
    }

    .linkItems a::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 3px;
        background-color: var(--LimeGreen);
        left: 0;
        bottom: -17px;

    }
    .linkItems a:hover::after {
        width: 100%;
        transition: 0.3s;
    }


    .top-0 {
        margin-top: 0;
        margin-right: 20px;
    }
    main {
        background-color: var(--VeryLightGray);
    }

    section {
        max-width: 80%;
        margin: 0 auto;
        
    }

    .section2-heading {
        text-align: left;
        max-width: 50%;
    }

    .section2-heading p {
        margin-left: 0;
    }

    .section-grid {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 30px;
    }

    .section2-items {
        text-align: left;
    }

    .section2-items h3 , p {
        margin-left:0;
    }



    .section-3-items a,h3 , p {
        margin: 0;
        padding: 0;
        
    }

  
    .section-3 h2 {
        margin-top: 30px;
    }

    .section-3-items p {
       
        line-height: 1.3em;
    }


    .section-3-items {
        background-color: var(--White);
        box-shadow: 1px 2px var(--VeryLightGray);
        border-radius: 10px;
    }
    .section-3-items img {
        max-width: 100%;
        border-radius: 10px;
    }

    .section-3-items a {
        margin: 5px 0px;
        font-size: 0.8em;
    }

    .section-3-items h3 {
        margin:8px 0px;
        line-height: 1;
    }

    .section-3-items h3:hover {
        color: var(--LimeGreen);
    }
    
    .nav-wrapper {
        display: flex;
        max-width: 80%;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    footer {
        padding: 30px 0px;
        
    }

    .socialmedia-icons {
        margin-top: 20px;
    }

    .nav-items {
        margin: 0px 50px;
        text-align: left;
    }

    .nav-items a:hover {
        color: var(--LimeGreen);
    }

    .copy-right {
        margin-left: auto;
    }


    .btn:hover{
        
    }
  
}